* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    background-color: rgb(241, 236, 237);
    height: 100%;
}

header {
    position: relative;
    top: 5rem;
    left: 1rem;
    height: 105px;
    width: 465px;
    border: 1px solid hsl(10, 79%, 65%);
    border-radius: 20px;
    background-color: hsl(10, 79%, 65%);
    color: hsl(26, 66%, 93%);
    display: flex;
    justify-content: space-between;
    padding:  25px 20px;
}

section {
     position: relative;
     top: 6rem;
     left: 1rem;
     height: 31rem;
     width: 29rem;
     border: 1px solid hsl(26, 66%, 100%);
     border-radius: 10px;
     background-color: hsl(26, 0%, 100%);
     padding: 10px;
}

.Spending {
    color: hsl(25, 47%, 15%);
    padding: 20px 10px;
}

.barChart {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
  height: 10px;
  position: relative;
  width: 100%;
}


.bar {
  width: 40px;
  background-color: hsl(10, 79%, 65%);
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
  position: relative;
  top: 12rem;
  left: -15px;
}


.bar:hover {
  background-color: hsl(10, 79%, 65%);
  cursor: pointer;
}


.bar-max {
  background-color: hsl(186, 34%, 65%);
}


.bar-max:hover {
  background-color: hsl(186, 34%, 65%);
}


.fig-bg {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(25, 47%, 15%);
  color: hsl(26, 66%, 93%);
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 1rem;
  white-space: nowrap;
  opacity: 0;
  /* pointer-events: none; */
  transition: opacity 0.3s;
  margin-bottom: 8px;
}

.bar:hover .fig-bg {
  opacity: 1;
}


.days {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 0;
  gap: 2.1rem;
  color: hsl(28, 10%, 53%);
  font-weight: 500;
  margin-bottom: 1.6rem;
  position: relative;
  top: 16rem;
  left: -8px
}

.days p {
  width: 10px;
  text-align: center;
  font-size: 14px;
  margin-top: 0.3rem;
  margin-left: 20px;
}

hr {
    position: relative;
    top: 17rem;
    color: hsl(26, 66%, 93%);
}

.Total {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 19rem;
    color: hsl(25, 47%, 15%);
}

.this {
    color: hsl(28, 10%, 53%);
}

.from {
    position: relative;
    top: 1.5rem;
    color: hsl(28, 10%, 53%);
}

h4 {
    position: relative;
    margin-left: 5rem;
}

.attribution {
    position: relative;
    top: 8rem;
}

@media screen and (max-width: 375px) {

    header {
    position: relative;
    top: 5rem;
    left: .5rem;
    height: 100px;
    width: 355px;
    border: 1px solid hsl(10, 79%, 65%);
    border-radius: 20px;
    background-color: hsl(10, 79%, 65%);
    color: hsl(26, 66%, 93%);
    display: flex;
    justify-content: space-between;
    padding:  25px 20px;
}

section {
     position: relative;
     top: 6rem;
     left: .7rem;
     height: 31rem;
     width: 22rem;
     border: 1px solid hsl(26, 66%, 100%);
     border-radius: 10px;
     background-color: hsl(26, 0%, 100%);
     padding: 10px;
}

.barChart {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
  height: 10px;
  position: relative;
  width: 100%;
}


.bar {
  width: 40px;
  background-color: hsl(10, 79%, 65%);
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
  position: relative;
  top: 12rem;
  left: -7px;
}

.bar-max {
  background-color: hsl(186, 34%, 65%);
}


.days {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 0;
  gap: 2.1rem;
  color: hsl(28, 10%, 53%);
  font-weight: 500;
  margin-bottom: 1.6rem;
  position: relative;
  top: 16rem;
  left: -3px
}

.days p {
  width: 8px;
  text-align: center;
  font-size: 14px;
  margin-top: 0.3rem;
  margin-left: 7px;
}

hr {
    position: relative;
    top: 16.5rem;
    color: hsl(26, 66%, 93%);
    opacity: 0.4;
}
    
}

@media screen and (min-width: 1440px) {

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        position: relative;
        top: 5rem;
        left: .5rem;
        height: 100px;
        width: 500px;
        border: 1px solid hsl(10, 79%, 65%);
        border-radius: 20px;
        background-color: hsl(10, 79%, 65%);
        color: hsl(26, 66%, 93%);
        display: flex;
        justify-content: space-between;
        padding:  25px 20px;
    }

section {
        position: relative;
        top: 6rem;
        left: .5rem;
        height: 31rem;
        width: 31rem;
        border: 1px solid hsl(26, 66%, 100%);
        border-radius: 10px;
        background-color: hsl(26, 0%, 100%);
        padding: 10px;
    }

.Spending {
        color: hsl(25, 47%, 15%);
        padding: 20px 30px;
}

.barChart {
        display: flex;
        gap: 20px;
        position: relative;
        top: 1rem;
        padding: 0 20px;
}


/* .chart {
    position: relative;
    top: 3rem;
    display: flex;
    gap: 38px;
    opacity: 0.2;
    padding: 0 20px;
} */

hr {
    position: relative;
    top: 17rem;
    color: hsl(26, 66%, 93%);
}

.Total {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 18.5rem;
    color: hsl(25, 47%, 15%);
}

.from {
    position: relative;
    top: 1.5rem;
}

h4 {
    position: relative;
    margin-left: 5rem;
}
    
}